@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.LnR {
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 80px;
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    color: white;
    display: block;
    text-align: center;
    padding: -13px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}
li {
    float: left;
    display: inline;
}

.LnR:hover {
    background-color: rgb(41, 41, 41);
}

.active {
    background-color: #04AA6D;
  }

.material-symbols-outlined {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
    
}

.loginicon {
    position: fixed;
    top: 5px;
    right: -2px;
}

.registericon {
    position: fixed;
    top: 5px;
    right: 72px;
}

.homeicon {
    position: fixed;
    top: 5px;
}

.forumicon {
    position: fixed;
    top: 5px;
}

.manage_accountsicon {
    position: fixed;
    top: 5px;
    right: 152px;
}